openapi: 3.2.0
info:
  title: Limitless Developer Chats API
  description: 'API for accessing lifelogs, providing transparency and portability to user data.


    ## Rate Limiting

    The API implements rate limiting to ensure fair usage and protect against abuse.

    - **Default Rate Limit:** 180 requests per minute per API key

    - **Rate Limit Response:** When exceeded, returns 429 Too Many Requests with retry information'
  version: 1.0.0
servers:
- url: https://api.limitless.ai/
tags:
- name: Chats
paths:
  /v1/chats:
    get:
      operationId: getChats
      summary: Returns a list of chats
      description: Returns a list of chats (ask-ai conversations) for the authenticated user. Pagination is supported.
      parameters:
      - in: query
        name: cursor
        description: Cursor for pagination to retrieve the next set of chats.
        schema:
          type: string
      - in: query
        name: direction
        description: Sort direction for chats.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: limit
        description: Maximum number of chats to return. Upper limit is 100.
        schema:
          type: integer
      - in: query
        name: timezone
        description: IANA timezone specifier. If missing, UTC is used.
        schema:
          type: string
      - in: query
        name: isScheduled
        description: When true, only return chats generated by scheduled prompts; when false, only non-scheduled chats.
        schema:
          type: boolean
      - in: query
        name: globalPromptId
        description: Filter to chats generated by scheduled prompts that match the given globalPromptId (see curated prompts).
        schema:
          type: string
      responses:
        '200':
          description: Successful response with chats.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatsResponse'
        '401':
          description: Unauthorized - Invalid or missing API key.
        '429':
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message indicating rate limit exceeded.
                  retryAfter:
                    type: string
                    description: Number of seconds to wait before retrying.
      tags:
      - Chats
  /v1/chats/{id}:
    get:
      operationId: getChat
      summary: Returns a single chat by ID
      description: Returns a specific chat (ask-ai conversation) by its unique identifier. Users can only access their own chats or public chats.
      parameters:
      - in: path
        name: id
        required: true
        description: Unique identifier of the chat to retrieve.
        schema:
          type: string
      - in: query
        name: timezone
        description: IANA timezone specifier. If missing, UTC is used.
        schema:
          type: string
      responses:
        '200':
          description: Successful response with a single chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '404':
          description: Chat not found.
        '401':
          description: Unauthorized - Invalid or missing API key.
        '429':
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message indicating rate limit exceeded.
                  retryAfter:
                    type: string
                    description: Number of seconds to wait before retrying.
      tags:
      - Chats
    delete:
      operationId: deleteChat
      summary: Deletes a single chat by ID
      description: Permanently deletes a specific chat (ask-ai conversation) by its unique identifier. Users can only delete their own chats.
      parameters:
      - in: path
        name: id
        required: true
        description: Unique identifier of the chat to delete.
        schema:
          type: string
      responses:
        '200':
          description: Chat successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteChatResponse'
        '404':
          description: Chat not found.
        '401':
          description: Unauthorized - Invalid or missing API key.
      tags:
      - Chats
components:
  schemas:
    ChatResponseData:
      type: object
      properties:
        chat:
          $ref: '#/components/schemas/Chat'
    ToolCall:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the tool call.
        toolName:
          type: string
          description: Name of the tool that was called.
        args:
          type:
          - object
          - 'null'
          description: Arguments passed to the tool.
    ChatsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatsResponseData'
        meta:
          type: object
          properties:
            chats:
              $ref: '#/components/schemas/MetaChats'
    MetaChats:
      type: object
      properties:
        nextCursor:
          type:
          - string
          - 'null'
          description: Cursor for pagination to retrieve the next set of chats, bound to the query parameters from the original request.
        count:
          type: integer
          description: Number of chats in the current response.
    Chat:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the chat.
        summary:
          type:
          - string
          - 'null'
          description: Brief summary of the chat conversation.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the chat was created (ISO 8601 string).
        startedAt:
          type: string
          format: date-time
          description: Timestamp of the first message in the chat (ISO 8601 string).
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
          description: List of messages in the chat.
        visibility:
          type: string
          enum:
          - private
          - public
          - internal
          description: Visibility setting for the chat.
    ChatsResponseData:
      type: object
      properties:
        chats:
          type: array
          items:
            $ref: '#/components/schemas/Chat'
    DeleteChatResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            success:
              type: boolean
              description: Indicates whether the deletion was successful.
    ToolResult:
      type: object
      properties:
        result:
          type: object
          description: Result returned by the tool.
        isError:
          type: boolean
          description: Whether the tool call resulted in an error.
        toolCallId:
          type: string
          description: ID of the tool call this result corresponds to.
        toolName:
          type: string
          description: Name of the tool that was called.
        entriesReturned:
          type:
          - array
          - 'null'
          items:
            type: object
            properties:
              title:
                type: string
                description: Title of the entry returned by the tool.
              id:
                type: string
                description: ID of the entry returned by the tool.
          description: Limited information about entries returned by the tool.
    ChatMessage:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        text:
          type:
          - string
          - 'null'
          description: Text content of the message.
        toolCalls:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolCall'
          description: Tool calls made in this message.
        toolResults:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolResult'
          description: Results from tool calls in this message.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the message was created (ISO 8601 string).
        user:
          type: object
          properties:
            role:
              type: string
              enum:
              - user
              - assistant
              - system
              - tool
              description: Role of the sender for this message.
            name:
              type:
              - string
              - 'null'
              description: Name of the user.
    ChatResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChatResponseData'
